asgiref==3.11.1
certifi==2026.2.25
charset-normalizer==3.4.6
django==6.0.3
django-bootstrap5==26.2
django-environ==0.13.0
django-stubs==6.0.0
django-stubs-ext==6.0.0
djhtml==3.0.10
gunicorn==25.1.0
idna==3.11
librt==0.8.1
mypy==1.19.1
mypy-extensions==1.1.0
packaging==26.0
pathspec==1.0.4
pillow==12.1.1
requests==2.32.5
sqlparse==0.5.5
types-pyyaml==6.0.12.20250915
typing-extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3
whitenoise==6.12.0
