{% extends 'spicita/base.html' %}
{% block content %}
  <div>

    <section class="text-center mb-4">
      <div class="mx-auto">
        <h1 class="fw-light">SPICITA FOODS</h1>
        <p class="lead text-body-secondary">Welcome to Spicita, the home of delicious dishes and snacks.<br/> We offer home deliveries, and excellent customer care, all at affordable prices.</p>
        {% if not user.is_authenticated %}
          <a href="{% url 'signup' %}" class="btn btn-sm btn-secondary">Sign up or Sign in</a>
        {% endif %}
      </div>
    </section>

    <section class="container bg-body-tertiary">
      <div class="album pb-4">
        {%if dishes%}
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

            {% for dish in dishes %}
              <div class="col-12 col-sm-6 col-md-4">
                <div class="card shadow-sm">
                  
                  <img class="card-img-top" role="img" alt="{{dish.name}}" width="100%" src="{% if dish.icon %}{{ dish.icon.url }}{% else %}/static/default-icon.png{% endif %}" title="{{dish.name}}" onerror="this.onerror=null; this.src='https://placehold.co/600';">
                  
                  <div class="card-body">
                    <p class="card-text"><span>{{ dish.name|title }}</span><br/>{{ dish.description|linebreaks }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a href="{% url 'buy_food' dish.pk %}" role="button" type="button" class="btn btn-sm btn-outline-success">Buy</a>
                      </div>
                      <small class="text-body-secondary">&#x20A6;{{ dish.price }}</small>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        {% else %}
          <div class="text-body-secondary text-center">
            <p>No Dishes Available</p>
          </div>

        {% endif %}
      </div>
    </section>

  </div>

{% endblock content %}