{% extends 'spicita/base.html' %}
{% block content %}

  <div class="album py-5 bg-body-tertiary">
    {% if dishes %}
      <form action="" method="post">

        <div class="row g-4">
          {% for dish in dishes %}
            <div class="col-md-4">
              <div class="card h-100">
                <img class="card-img-top" role="img" alt="{{ dish.name }}" src="{{ dish.icon.url }}" title="{{ dish.name }}">
                <div class="card-body">
                  <h5 class="card-title">{{ dish|title }}</h5>
                  <p class="card-text text-body-secondary">&#x20A6;{{ dish.price }}</p>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="{{ dish }}" id="dish-{{ forloop.counter }}" aria-label="Select {{ dish.name }}">
                    <label class="form-check-label" for="dish-{{ forloop.counter }}">
                      Select {{ dish.name }}
                    </label>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>

      </form>

    {% else %}

      <div class="text-body-secondary text-center">
        <p>
          No Dishes Available
        </p>
      </div>
    {% endif %}
  </div>


{% endblock content %}
