{% extends 'spicita/base.html' %}
{% block extratags %}
  {% load spicitemp %}
{% endblock extratags %}

{% block content %}

  <div>
    <div class="text-center">
      <h2>Order Payment</h2>
      <p class="lead">
        Please complete your payment to confirm your food order. Ensure all details are accurate to avoid delays in processing your order.
      </p>
    </div>

    <div class="row g-5">
      <div class="col-md-5 col-lg-4 order-md-last">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-primary">Your Order</span>
          <span class="badge bg-primary rounded-pill">{{amount}}</span>
        </h4>
        <ul class="list-group mb-3">
          {% for item in order.items.all %}
            {% if item.dish %}
              <li class="list-group-item d-flex justify-content-between lh-sm">
                <div>
                  <h6 class="my-0">{{item}}</h6>
                </div>
                <span class="text-body-secondary" id="dishTotal">&#x20A6;{{item|tprice}}</span>
              </li>
            {% else %}
              <li class="list-group-item d-flex justify-content-between lh-sm">
                <div>
                  <h6 class="my-0">{{item}}</h6>
                </div>
                <span class="text-body-secondary" id="extraTotal">&#x20A6;{{item|tprice}}</span>
              </li>
            {% endif %}
          {% endfor %}
        <!-- Promo code section -->
        <!--
        <li class="list-group-item d-flex justify-content-between bg-body-tertiary">
          <div class="text-success">
            <h6 class="my-0">Promo code</h6>
            <small>EXAMPLECODE</small>
          </div>
          <span class="text-danger">−&#x20A6;5</span>
        </li>
        -->
          <li class="list-group-item d-flex justify-content-between">
            <span>Total (NGN)</span>
            <strong>&#x20A6;{{ order.total_price }}</strong>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <div>
              <small>{{order.note}}</small>
            </div>
          </li>
        </ul>

        <form class="card p-2">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Promo code" />
            <button type="submit" class="btn btn-secondary">Redeem</button>
          </div>
        </form>
      </div>

      <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Payment</h4>

        <hr class="my-4" />

        <form class="needs-validation" novalidate>
          <div class="my-3">
            <div class="form-check">
              <input
                id="credit"
                name="paymentMethod"
                type="radio"
                class="form-check-input"
                checked
                required
              />
              <label class="form-check-label" for="credit">Credit card</label>
            </div>
            <div class="form-check">
              <input
                id="debit"
                name="paymentMethod"
                type="radio"
                class="form-check-input"
                required
              />
              <label class="form-check-label" for="debit">Debit card</label>
            </div>
            <div class="form-check">
              <input
                id="paypal"
                name="paymentMethod"
                type="radio"
                class="form-check-input"
                required
              />
              <label class="form-check-label" for="paypal">PayPal</label>
            </div>
          </div>

          <hr class="my-4" />

          <div class="row gy-3">
            <div class="col-md-6">
              <label for="cc-name" class="form-label">Name on card</label>
              <input
                type="text"
                class="form-control"
                id="cc-name"
                placeholder=""
                required
              />
              <small class="text-body-secondary">Full name as displayed on card</small>
              <div class="invalid-feedback">Name on card is required</div>
            </div>

            <div class="col-md-6">
              <label for="cc-number" class="form-label">Credit card number</label>
              <input
                type="text"
                class="form-control"
                id="cc-number"
                placeholder=""
                required
              />
              <div class="invalid-feedback">Credit card number is required</div>
            </div>

            <div class="col-md-3">
              <label for="cc-expiration" class="form-label">Expiration</label>
              <input
                type="text"
                class="form-control"
                id="cc-expiration"
                placeholder=""
                required
              />
              <div class="invalid-feedback">Expiration date required</div>
            </div>

            <div class="col-md-3">
              <label for="cc-cvv" class="form-label">CVV</label>
              <input
                type="text"
                class="form-control"
                id="cc-cvv"
                placeholder=""
                required
              />
              <div class="invalid-feedback">Security code required</div>
            </div>
          </div>

          <div class="form-check mt-3">
            <input type="checkbox" class="form-check-input" id="save-info" />
            <label class="form-check-label" for="save-info">
              Save this information for next time
            </label>
          </div>

          <hr class="my-4" />

          <button class="w-100 btn btn-primary btn-lg" type="submit">
            Continue to checkout
          </button>
        </form>
      </div>
    </div>
  </div>

{% endblock content %}
