{% extends 'spicita/base.html' %}

{% block extratags %}
  {% load django_bootstrap5 %}
{% endblock extratags %}


{% block content %}

  <div class="row align-items-center">
    <div class="col-lg-7 text-center text-lg-start">
      <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">Register as a Costumer with us to get exclusive perks</h1>
      <p class="col-lg-10 fs-4 text-body-secondary">This includes but not limited to promo codes, discounts, and holiday specials.</p>
    </div>

    <div class="col-md-10 mx-auto col-lg-5">
      <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary" action="{% url 'signup' %}" method="post">

        {% csrf_token %}

        {% bootstrap_form form show_help=False %}

        <small class="text-body-secondary">By clicking Sign up, you agree to the terms of use.</small>
        <hr/>
        <div class="d-flex justify-content-between flex-grow align-items-center">
          {% bootstrap_button button_type="submit" content="Sign up" button_class="btn-sm btn-primary" %}

          <span class="fw-light text-secondary">or</span>

          {% url "login" as login_link %}
          {% bootstrap_button button_type="link" href=login_link content="Login" button_class="btn-sm btn-secondary" %}
        </div>


      </form>
    </div>
  </div>


{% endblock content %}

