{% extends 'users/base.html' %}

{% block extratags %}
  {% load django_bootstrap5 %}
{% endblock extratags %}


{% block content %}

  <div class="d-flex flex-column gap-4">

    <h1 class="h1 fw-bold mx-auto">Welcome Back</h1>

    <form action="{% url 'login' %}" method="post">

      {% csrf_token %}

      {% bootstrap_form form show_help=False %}

      <div class="d-flex justify-content-between flex-grow align-items-center">
        {% bootstrap_button "Login" button_type="submit" button_class="btn-primary btn-sm" %}
        <span class="fw-light text-secondary">or</span>

        {% url "signup" as signup_link %}
        {% bootstrap_button "Signup" button_type="link" href=signup_link button_class="btn-info btn-sm" %}
      </div>


    </form>
  </div>

{% endblock content %}